
/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.text-white {
  color: #fff !important;
}

.text-center {
  text-align: center !important;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: calc(100% / 3);
}

.col-full {
  width: 100%;
}

#main {

}

#header {
  position: fixed;
  height: 46px;
  background-color: #000;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.nav {
  display: inline-block;
}

ul li {
  list-style-type: none;
}

.nav .subnav a {
  color: #000;
  line-height: 38px;
}

.nav > li {
  display: inline-block;
}

.nav li {
  position: relative;
}

.nav li:hover .subnav {
  display: block;
}

.nav > li:hover > a, 
.nav .subnav li:hover a {
  color: #000;
  background-color: #ccc;
}

.nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

.nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}

.nav .subnav {
  display: none;
  min-width: 160px;
  top: 100%;
  left: 0;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav .nav-arrow-down {
  font-size: 14px;
}

#header .search-btn,
#header .mobile-menu-btn {
  float: right;
  width: 61px;
  color: #fff;
  padding: 0 23px;
  line-height: 46px;
  font-size: 15px;  
}

#header .search-btn:hover {
  cursor: pointer;
  background-color: #f00;
}

#header .mobile-menu-btn {
  position: absolute;
  top: 0;
  right: 0;
}

#header .mobile-menu-btn:hover {
  background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon{
  color: #000;
}

#header .search-icon {
  
}

#header .menu-icon {
  line-height: 46px;
  font-size: 15px;
}

#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url('/assets/img/slider/la.jpg') top center / cover no-repeat;
}

#slider .text-content {
  position: absolute;
  color: #fff;
  width: 100%;
  text-align: center;
  bottom: 48px;
}

#slider .text-heading {
  font-weight: 500;
  font-size: 24px;
}

#slider .text-description {
  font-size: 15px;
  margin-top: 25px;
}

#content {

}

#content .content-section {
  text-align: center;
    width: 800px;
    margin: 0 auto;
    padding: 64px 0;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 100%;
}

#content .content-section .section-heading {
  margin: 10px 0;
  letter-spacing: 4px;
}

#content .content-section .section-sub-heading {
  margin: 15px 0;
  font-style: italic;
  opacity: 0.6;
}

#content .content-section .about-text {
  text-align: justify;
  line-height: 1.4;
  margin: 15px 0;
  font-size: 15px;
}

#content .content-section .list-item {
  margin: 32px 0;
}

#content p {
  margin: 15px 0;
}

#content .avatar {
  border-radius: 4px;
  width: 154px;
}

.tour-date {
  background-color: #000;
}

.ticket-list {
  background-color: #fff;
  text-align: left;
  margin-top: 40px;
}

.ticket-list li {
  padding: 11px 16px;
  font-size: 15px;
  border-bottom: 1px solid #ddd;
}

.ticket-list .sold-out {
  background-color: #f00;
  margin-left: 16px;
  padding: 3px 4px;
}

.ticket-list .quantity {
  border-radius: 50%;
  border: 1px solid #000;
  width: 24px;
  height: 24px;
  float: right;
  text-align: center;
  margin-top: -3px;
  line-height: 24px;
  background-color: #000;
}

.place-list {
  margin-top: 32px;
  margin-bottom: 48px;
}

.place-img {
  width: 100%;
  display: block;
}

.tour-date img:hover {
  opacity: 0.6;
}

.tour-date .place-body {
  background-color: #fff;
  text-align: left;
  padding: 15px 16px;
}

.tour-date .place-time {
  margin: 16px 0;
}

.tour-date .place-desc {
  margin: 16px 0;
}

.btn {
  background-color: #000;
  color: #fff;
  padding: 11px 17px;
  text-decoration: none;
  display: inline-block;
  border: none;
}

.btn:hover {
  cursor: pointer;
  background-color: #ccc;
}

i {
  margin-right: 16px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;  
  align-items: center;
  justify-content: center;
}

.modal.open {
  display: flex;
}

.modal-header {
  height: 130px;
  background-color: rgb(0, 94, 66);
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 30px;
  justify-content: center;
}

.modal-container {
  background-color: #fff;
  width: 900px;
  max-width: calc(100% - 32px);
  min-height: 200px;
  position: relative;
  animation: modalFadeIn ease 0.6s;
}

.modal-close-btn {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding-top: 16px;
  cursor: pointer;
}

.modal-body {
  padding: 16px;
}

.modal-lable {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}

.modal-input {
  border: 1px solid #ccc;
  width: 100%;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 24px;
}

#buy-ticket {
  background-color: rgb(0, 94, 66);
  border: none;
  color: #fff;
  width: 100%;
  text-transform: uppercase;
  font-size: 15px;
  padding: 18px;
  cursor: pointer;
}

#buy-ticket:hover {
  opacity: 0.6;
}

.modal-footer {
  text-align: right;
  padding: 16px;
}

.modal-footer a {
  color: rgb(51, 16, 207);
}

@keyframes modalFadeIn {
  from {
    transform: translateY(-140px);
  }
  to {
    transform: translateY(0);
  }
}

.contact-content {
  margin: 48px 0;
  text-align: left;
}

.contact-info {
  font-size: 18px;
}

.contact-info i {
  width: 16px;
}

.contact-form {
  font-size: 15px;
}

.contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}

.form-submit-btn {
  float: right;
}

img {
  width: 100%;
}

#footer {
  padding: 64px 16px;
  text-align: center;
}

.footer .social-list {
  font-size: 24px;
}

#footer .social-list a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

#footer .social-list a:hover {
  color: rgba(0, 0, 0, 0.2);
}

#footer .copyright {
  color: rgba(0, 0, 0, 0.6);
  padding: 15px 0;
}

#footer .copyright a {
  color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a:hover {
  color: rgba(0, 0, 0, 0.2);
}